@import "../../../App/App";

.burger {
  right: -300px;
  width: 300px;
  height: 100vh;
  position: fixed;
  top: 0;
  z-index: 200;
  display: flex;
  background-color: $--white;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  transition: $--transition;

  &__list {
    right: -500px;
    padding: 100px 0 0 0;
    transition: $--transition;
    border-radius: $--border-radius;
    box-shadow: rgba(55,125,255,0.3) -5px 5px, rgba(55,125,255,0.2) -10px 10px, rgba(55,125,255,0.1) -15px 15px, rgba(55,125,255,0.1) -20px 20px;

    &--active {
      right: 0;
      justify-content: center;
      align-items: center;
      transition: $--transition;
      flex-direction: column;
      width: 300px;
      height: 100vh;
      position: fixed;
      top: 0;
      z-index: 200;
      background-color: $--white;
    }

    .item {
      display: flex;
      justify-content: center;
      align-items: center;
      padding: 10px;
      font-size: 13px;
      transition-delay: 100ms;
      transition: $--transition;
      margin-bottom: 20px;
      background-color: transparent;

      span {
        display: flex;
        justify-content: center;
        align-items: center;
        text-decoration: none;
        text-decoration-skip-ink: auto;
        color: inherit;
        position: relative;
        transition: $--transition;
        background-color: transparent;
        cursor: pointer;
      }

      &__icon {
        background-color: transparent;
        color: $--blue;
        margin-right: 5px;
        width: 20px;
        height: 20px;
      }

      &__text {
        background-color: transparent;
        color: $--text-color-dark;
      }
    }
  }
}
