@import "../../../App/App";

.button {
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: $--border-radius;
  border: 1px solid transparent;
  font-size: $--fz-md;
  padding: 7px 13px;
  cursor: pointer;
  background-color: $--white;
  color: $--blue;
  transition: $--transition;
  width: 100%;
  white-space: nowrap;

  &--disabled {
    opacity: 0.5;

    
  }

  &--clicked {
    background-color: $--blue;
    color: $--white;
    border: 1px solid $--blue;

    &:hover {
      background-color: $--blue;
    color: $--white;
    border: 1px solid $--blue;
    }
  }

}
