@import "../../App/App";

.background-video {
  position: absolute;
  top: 0;
  min-width: 100vw;
  min-height: 100vh;
  z-index: 0;
  opacity: 0.3;
}

.mainpage {
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: column;
  gap: 100px;
  padding: 100px 50px;
  height: 100vh - $--nav-height;

  &__landing {
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
    z-index: 1;
  }
}

.landing {
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: column;
  gap: 50px;
  backdrop-filter: blur(10px);
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  padding: 50px;
  border-radius: 20px;

  @include mobile {
    padding: 20px 30px;
    gap: 30px;
  }
  @include miniMobile {
    padding: 20px 30px;
    gap: 30px;
  }

  &__title {
    font-size: $--fz-heading;
    color: $--text-color-dark;
  }

  &__buttons {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 20px;
  }

}
